
<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="theme-color" content="#3e454c">
	<title>Manage Rooms</title>
	<link rel="stylesheet" href="/less/font-awesome.min.css">
	<link rel="stylesheet" href="/less/bootstrap.min.css">
	<link rel="stylesheet" href="/less/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="/less/bootstrap-social.css">
	<link rel="stylesheet" href="/less/bootstrap-select.css">
	<link rel="stylesheet" href="/less/fileinput.min.css">
	<link rel="stylesheet" href="/less/awesome-bootstrap-checkbox.css">
	<link rel="stylesheet" href="/less/style.css">
</head>

<body>
	<%- include('./includes/header.ejs') %>

	<div class="ts-main-content">
			<%- include('./includes/sidebar.ejs') %>
		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<br/>
						<h2 class="page-title">Manage Rooms</h2>
						<div class="panel panel-default">
							<div class="panel-heading">All Room Details</div>
							<div class="panel-body">
								<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>RoomId</th>
										
											<th>Seater</th>
											<th>Room No.</th>
											<th>Hostel Price </th>

											
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>RoomId</th>
											<th>Seater</th>
											<th>Room No.</th>
										
											<th>Hostel Price </th>
											
											<th>Action</th>
										</tr>
									</tfoot>
									<tbody>
									
 <% for (var room of rooms)  { %>
<tr><td><%= room._id  %></td>
<td><%= room.rtype %></td>
<td><%= room['rnumber'] %></td>
<td><%= room['price'] %></td>

<td><a href="/edit-room?id=<%= room._id %> "><i class="fa fa-edit"></i>edit</a>&nbsp;&nbsp;
	<a href="manage-rooms?del=<%= room._id %>" onClick=""><i class="fa fa-close"></i>delete</a></td>
<% } %>

										</tr>
									<?php
$cnt=$cnt+1;
									 } ?>
											
										
									</tbody>
								</table>

								
							</div>
						</div>

					
					</div>
				</div>

			

			</div>
		</div>
	</div>

	<!-- Loading Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script>
	<script src="/js/Chart.min.js"></script>
	<script src="/js/fileinput.js"></script>
	<script src="/js/chartData.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>
